body {
  background-image: url("../../../zenclock/assets/img/bgZen.jpg");
  background-color: #1c1c1c;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: Arial Narrow;
}
